body {
    overflow-x: hidden;
}

#bg1 {
    background-image: url('https://images.unsplash.com/photo-1553877522-43269d4ea984?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}

#bg2 {
    background-image: url('https://images.unsplash.com/photo-1542744173-8e7e53415bb0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        /* Stack columns vertically */
    }

    .col-4,
    .col-6,
    .col-3 {
        width: 100%;
        /* Full width for mobile */
        margin-bottom: 20px;
        /* Space between stacked elements */
    }

    img {
        width: 100%;
        /* Responsive images */
        height: auto;
        /* Maintain aspect ratio */
    }

    .box {
        padding: 20px;
        /* Adjust padding for smaller screens */
    }

    h3,
    h4 {
        font-size: 1.5em;
        /* Adjust font size for headings */
    }
}